{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>store</title>
</head>
<body>
{% block page %}
<!-- to do app list -->
<!-- to do app -->
<div class="cont">
    <hr>
    <pre ><a  href="#" style="text-decoration: none;">TO DO LIST</a>                                                                                                                                                          <a href="#" style="text-decoration: none;">home</a>         <a href="#" style="text-decoration: none;">logout</a></pre>

<div></div>
       

</div>
<div class="cant">
    <!-- <div class="ins">ADD</div> -->
</div>
<div id="gg"></div>
{% endblock page %}

</body>
</html>